.card-J{
    margin-left: 6.5%;
}
#jewerly{
    padding-top:60px;
    height: auto;

}
.card-F{
margin-left: 6.5%;
}
#furniture{
    padding-top: 60px;
    height: auto;
}

.card-T{
    margin-left: 6.5%;
}
#tecnology{
    padding-top: 60px;
    height: auto;
}