#jewerly {
    padding-top: 60px;
    height: auto;

    #jew {
        margin-top: 40px;

        @media (max-width:800px) {
            margin-left: 100px;
        }
    }

}

#furniture {
    padding-top: 60px;
    height: auto;

    #fur {
        margin-top: 40px;


        @media (max-width:800px) {
            margin-left: 100px;
        }
    }
}

.card-T {
    justify-content: center;
    align-items: center;
}

#tecnology {
    padding-top: 60px;
    height: auto;

    #tec {
        margin-top: 40px;


        @media (max-width:800px) {
            margin-left: 100px;
        }
    }
}

#bghire {
    z-index: -1;
    position: relative;
    top: 30px;
    border-radius: 20px;
    height: 400px;
    align-items: center;
    background-color: #dc3545;
    color: white;

    h1 {
        font-size: 64px;
        text-align: center;
        justify-content: center;
        text-shadow: 3px 3px 3px gray;
    }
}