%layout-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
%layout-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

%layout {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
}





.login {
    width: 40%;
    height: auto;
    background-color: red;
    border-radius: 20px;
    background-color: #FFFFFF;
    @extend %layout;
    font-size: 16px;
    padding-bottom: 20px;
    margin-bottom: 150px;
    position:relative;
    left:30%;
    top: 50px;
    justify-content: center;
    h2{
        text-align: center;
        margin-bottom:40px;
    }


}

.form {
    width: 80%;

    .buttonLayout {
        @extend %layout-center
    }

}
.buttonLayout{
    margin-top: 30px;
    .submitButton {
        background-color: #5380EA;
        border: 1px solid #5380EA;
        border-radius: 25px;
        padding: 10px 70px 10px 70px;
        color: #FFFFFF;
        font-size: 15px;
        margin-top: -30px;
    }
}
.eyeIconImg{
    position: absolute;
    right: 65px;
    top:-30px;
    width: 20px;
    height: 20px;
}
.haveAccount{
   @extend %layout-row;
   margin-top: 5px;
   font-size: 13px;
   opacity: 0.8;
   a{
    position: relative;
    top: -5px;
    margin-left: 5px;
    text-decoration: underline;
    color:#FFFFFF
   }
}
.borderMenuBottomLogin{
    width: 100%;
    border-bottom: 2px solid #D3D8FF;
    position: fixed;
    top: 75px;
}
.wrongLogIn{
    display: none;
    flex-direction: row;
}
.logoImg2{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 45%;
    margin-top: -30px;
}
.forgetUsername{
    @extend %layout-row;
    margin-top: 15px;
    font-size: 13px;
    opacity: 0.8;
    a{
     position: relative;
     margin-left: 5px;
     text-decoration: underline;
     color: #FFFFFF;
    }
}

