.head{
    position: sticky;
    height: 80px;
}
.Header{
    color: white;
    position: absolute;
    left: 40px;
    font-size: 50px;
    text-shadow: 3px 3px 3px gray;
    margin-right: 30px;

}
ul{
    float: right;
    margin-right: 20px;
    list-style-type: none;
    display: inline-flex;
    li{
        height: 20px;
        padding-left: 20px;
        border-radius: 10px;
    }
}
.signUpButton{
    margin-top: 20px;
    height: 40px !important ;

}
.loginButton{
    margin-top: 20px;
    height: 40px;
}
.navbar{
    margin-top: 40px;
    float:left;
    background-color:rgb(140, 10, 10);
    width: 100%;
   ul{
    
    a{
        text-decoration: none;
        color:white;
        
    }
    li{ 
        color:white;
        padding-left:70px;
        :hover{
            color:darkgray;
        }
    }
   }

}
