%layout-shared {
    display: flex;
    align-items: center;
    justify-content: center;
}

%layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Pass {
    position: relative;
    background-color: #dc3545;
    font-size: 16px;
    height: 420px;
    top: 130px;
    border-radius: 20px;
    @media (max-width:765px) {
        position: relative;
        top: -60px;
    }
    .form-group{
        position: relative;
        margin-top: 15px;
        width:80%;
        left: 10%;

    }
    h3 {
        text-align: center;
        margin-top: 20px;
        padding-top: 20px;
    }
    .buttonLayout{
        position: relative;
        left: 25%;
        margin-top: 30px;
    }

}

.Edit {
    position: relative;
    height: auto;
    border-radius: 20px;
    @extend %layout;
    font-size: 16px;
    padding-bottom: 50px; 
    top: 30px;
    margin-bottom: 150px;
    @media (max-width:765px) {
        .buttonLayout{
            margin-top: 30px;
        }
        
    }

    h3 {
        text-align: center;
        margin-top: 40px;
    }



    .SignUpBox {
        width: 50%;
        height: 500px;
        background-color: white;
        border-radius: 10px;

    }
    .buttonLayout{
        align-items: center;
        margin-top: 30px;
    }


}

.eyeIcon {
    position: absolute;
    right: 65px;
    top: 523px;
    width: 20px;
    height: 20px;
}

.policy {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;


    .textPolicy {
        font-family: 'Roboto';
        font-style: normal;
        /* or 308% */
        color: #000000;
    }

    .checkBox {
        width: 20px;
        height: 20px;
        border: 2px solid black;
        border-radius: 5px;
        margin-right: 10px;
        @extend %layout-shared;
    }
}

.borderMenuBottomSign {
    width: 100%;
    border-bottom: 2px solid #D3D8FF;
    position: fixed;
    top: 75px;
}

.wrongSignUp {
    display: flex;
    flex-direction: row;
}

.logoImg3 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 45%;
    margin-top: -30px;
}

.gender {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

Footer{
    @media (max-width:765px) {
        position: relative;
        top: 400px;

    }
}